<section class="w-75 mx-auto rounded shadow bg-main-light p-3 mt-3" *ngIf="cartDetails;else msg">
    <div class="d-flex justify-content-between alig-items-center mb-3">
        <p class="text-main">Total Price: {{cartDetails.totalCartPrice | currency: "EGP "}}</p>
        <button class="btn btn-sm btn-outline-danger" (click)="clear()">Clear Cart</button>
    </div>
   
    <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">
        <div class="col-md-1">
            <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>
        <div class="col-md-11 d-flex justify-content-between alig-items-center">
            <div>
                <h3 class="h6">{{item.product.title}}</h3>
                 <p class="text-main mb-0">Price: {{item.price}}</p>
                 <button class="btn p-0 m-0 text-main" (click)="removeProduct(item.product._id)"><i class="fa-solid fa-trash-can"></i>Remove</button>
            </div>
            <div>
                <button #btn1 class="btn border-success btn-sm" (click)="changeCount(item.count - 1,item.product._id,btn1,btn2)">-</button>
                <span class="m-3">{{item.count}}</span>
                <button #btn2 class="btn border-success btn-sm" (click)="changeCount(item.count + 1,item.product._id,btn1,btn2)">+</button>
            </div>
        </div>
    </div>
    <button [routerLink]="['/payment',cartDetails._id]" class="main-btn mt-3">Online Payment <img src="./assets/images/visa-1.svg" alt=""></button>
</section>


<ng-template #msg>
    <h2 class="text-center">Your Cart Is Empty...</h2>
</ng-template>