 <section class="w-75 mx-auto rounded bg-main-light p-3 shadow my-3">
    <form [formGroup]="orderForm" (ngSubmit)="handleForm()">
        <div class="form-item">
            <label for="details">Details</label>
            <input type="text" class="form-control" id="details" formControlName="details">
        </div>
        <div class="form-item">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" formControlName="phone">
        </div>
        <div class="form-item">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city">
        </div>
        <button class="main-btn mt-3">CheckOut</button>
    </form>
 </section>
