<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="./assets/images/freshcart-logo.svg" alt=""></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active-link">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/categories" routerLinkActive="active-link">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/brands" routerLinkActive="active-link">Brands</a>
                </li>
              
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
                 <li class="nav-item dropdown align-items-center ">
                    <a class="nav-link dropdown-toggle " routerLink="/settings" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user fa-xl text-main"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="/settings/forget">Forget Password</a></li>
                    </ul>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link position-relative" routerLink="/wishlist" >
                        <i class="fa-solid fa-heart text-danger fa-2x"></i>
                        <span class="badge bg-info position-absolute top-0 end-0"  *ngIf="wishlistCount > 0">{{wishlistCount}}</span>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link position-relative" routerLink="/cart" >
                        <i class="fas fa-cart-shopping fs-3 text-main"></i>
                        <span class="badge bg-info position-absolute top-0 end-0" *ngIf="cartCount > 0">{{ cartCount}}</span>
                    </a>
                </li>
                <li class="nav-item" role="button">
                    <i class="fab fa-facebook me-3"></i>
                    <i class="fab fa-linkedin me-3"></i>
                    <i class="fab fa-instagram me-3"></i>
                    <i class="fab fa-twitter me-3"></i>
                    <i class="fab fa-youtube me-3"></i>
                 </li>
                <li class="nav-item" role="button" (click)="SignOut()">
                   <span>SignOut</span>
                </li>
            </ul>
        </div>
  </div>
</nav>

